$text-color: #767676; // dark-blue
$background: #ffffff;
$header-background: #dcdcdc;
$menu-background: #777777;
$img-background: #f8f8f8;
$mistake-color: #dc7f7f;

$small-screen: 1000px;
$tablet: 710px;
$mobile: 320px;
